<div class="accMenuDiv d-flex">
  <div class="flex-grow-1">
    <i class="fa-regular fa-user"></i>
  </div>
  <div class="flex-grow-1">
    <h4>username</h4>
    <p>email</p>
  </div>
  <div class="flex-grow-1">
    <h4>...</h4>
  </div>
</div>