<div class="tendenciasDiv ms-3">
  <div class="tendenciasSearch rounded-pill d-flex mb-3">
    <form action="#">
      <div class="input-group mt-1 mb-3">
        <span class="input-group-text" id="basic-addon1"><img src="img/noun-search-3549244.svg" alt=""></span>
        <input type="text" class="form-control" placeholder="Buscar en Twitter" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </form>
  </div>
  <div class="tendencias bg-light my-4 rounded-4">
    <div class="px-3 py-2">
      <h5>Tendencias para ti</h5>
    </div>
    <div class="tendencia">
      <div class="px-3 py-2">
        <span>Tendencia en Uruguay</span>
        <h6 class="m-0">Punta Carretas</h6>
        <span>67.213 Tweets</span>
      </div>
    </div>
    <div class="tendencia">
      <div class="px-3 py-2">
        <span>Tendencia en Uruguay</span>
        <h6 class="m-0">Piedras Blancas</h6>
        <span>23.486 Tweets</span>
      </div>
    </div>
    <div class="tendencia">
      <div class="px-3 py-2">
        <span>Tendencia en Uruguay</span>
        <h6 class="m-0">Ancap</h6>
        <span>13.532 Tweets</span>
      </div>
    </div>
    <div class="tendencia">
      <div class="px-3 py-2">
        <span>Tendencia en Uruguay</span>
        <h6 class="m-0">Zeus</h6>
        <span>51.432 Tweets</span>
      </div>
    </div>
    <div class="tendencia">
      <div class="px-3 py-2">
        <span>Tendencia en Uruguay</span>
        <h6 class="m-0">Partido Conunista</h6>
        <span>42.263 Tweets</span>
      </div> 
    </div>
    <div class="tendencia">
      <div class="px-3 py-2">
        <span>Tendencia en Uruguay</span>
        <h6 class="m-0">#TeamInvierno</h6>
        <span>14.413 Tweets</span>
      </div>
    </div>
    <div class="tendencia">
      <div class="px-3 py-2">
        <span>Tendencia en Uruguay</span>
        <h6 class="m-0">santo y seña</h6>
        <span>14.869 Tweets</span>
      </div>
    </div>
    <div class="tendencia">
      <div class="px-3 py-2">
        <span>Tendencia en Uruguay</span>
        <h6 class="m-0">Cordon</h6>
        <span>11.213 Tweets</span>
      </div>     
    </div>
    <div class="tendencia">
      <div class="px-3 py-2">
        <span>Tendencia en Uruguay</span>
        <h6 class="m-0">Tacuarembó</h6>
        <span>22.516 Tweets</span>
      </div>      
    </div>
    <div class="tendencia">
      <div class="px-3 py-2">
        <span class="Mostrar-más">Mostrar más</span>
      </div>     
    </div>
  </div>
  <footer>
    <div class="d-flex flex-wrap">
      <a href="#">Consiciones de servicio</a>
      <a href="#">Política de privacidad</a>
      <a href="#">Política de cookies</a>
      <a href="#">Accesibilidad</a>
      <a href="#">Información de anuncios</a>
      <a href="#">Más opciones</a>
    </div>
    <span><i class="fa-solid fa-copyright"></i> 2022 Twitter, Inc.</span>
  </footer>
</div>