<div class="tendenciasDiv ms-3">
  <div class="tendenciasSearch rounded-pill d-flex mb-3">
    <img src="img/noun-search-3549244.svg" alt="">
    <form action="#">
        <input type="text" class="form-control">
    </form>
  </div>
  <div class="tendencias">
    <div>
      <h5>Tendencias para ti</h5>
    </div>
    <div>
      <span>Tendencia en Uruguay</span>
      <h6 class="m-0">Punta Carretas</h6>
      <span>67.213 Tweets</span>
    </div>
    <div>
      <span>Tendencia en Uruguay</span>
      <h6 class="m-0">Punta Carretas</h6>
      <span>67.213 Tweets</span>
    </div>
    <div>
      <span>Tendencia en Uruguay</span>
      <h6 class="m-0">Punta Carretas</h6>
      <span>67.213 Tweets</span>
    </div>
    <div>
      <span>Tendencia en Uruguay</span>
      <h6 class="m-0">Punta Carretas</h6>
      <span>67.213 Tweets</span>
    </div>
    <div>
      <span>Tendencia en Uruguay</span>
      <h6 class="m-0">Punta Carretas</h6>
      <span>67.213 Tweets</span>
    </div>
    <div>
      <span>Tendencia en Uruguay</span>
      <h6 class="m-0">Punta Carretas</h6>
      <span>67.213 Tweets</span>
    </div>
    <div>
      <span>Tendencia en Uruguay</span>
      <h6 class="m-0">Punta Carretas</h6>
      <span>67.213 Tweets</span>
    </div>
    <div>
      <span>Tendencia en Uruguay</span>
      <h6 class="m-0">Punta Carretas</h6>
      <span>67.213 Tweets</span>
    </div>
    <div>
      <span>Tendencia en Uruguay</span>
      <h6 class="m-0">Punta Carretas</h6>
      <span>67.213 Tweets</span>
    </div>
    <div>
      <span>Tendencia en Uruguay</span>
      <h6 class="m-0">Punta Carretas</h6>
      <span>67.213 Tweets</span>
    </div>
    <div>
      <span>Tendencia en Uruguay</span>
      <h6 class="m-0">Punta Carretas</h6>
      <span>67.213 Tweets</span>
    </div>
  </div>
</div>