<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio / Twitter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/Styles.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-3"><%- include('partials/nav')%></div>
                <div class="col-6 border">
                    <div class="newTwitBox">
                        <div class="newTwitBoxHeader d-flex justify-content-between p-3">
                            <div>
                                <h4 class="d-inline">Inicio</h4>
                            </div>
                            <div>                               
                            </div>
                               <svg viewBox="0 0 24 24" aria-hidden="true" width='20px' class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-z80fyv r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-19wmn03"><g><path d="M22.772 10.506l-5.618-2.192-2.16-6.5c-.102-.307-.39-.514-.712-.514s-.61.207-.712.513l-2.16 6.5-5.62 2.192c-.287.112-.477.39-.477.7s.19.585.478.698l5.62 2.192 2.16 6.5c.102.306.39.513.712.513s.61-.207.712-.513l2.16-6.5 5.62-2.192c.287-.112.477-.39.477-.7s-.19-.585-.478-.697zm-6.49 2.32c-.208.08-.37.25-.44.46l-1.56 4.695-1.56-4.693c-.07-.21-.23-.38-.438-.462l-4.155-1.62 4.154-1.622c.208-.08.37-.25.44-.462l1.56-4.693 1.56 4.694c.07.212.23.382.438.463l4.155 1.62-4.155 1.622zM6.663 3.812h-1.88V2.05c0-.414-.337-.75-.75-.75s-.75.336-.75.75v1.762H1.5c-.414 0-.75.336-.75.75s.336.75.75.75h1.782v1.762c0 .414.336.75.75.75s.75-.336.75-.75V5.312h1.88c.415 0 .75-.336.75-.75s-.335-.75-.75-.75zm2.535 15.622h-1.1v-1.016c0-.414-.335-.75-.75-.75s-.75.336-.75.75v1.016H5.57c-.414 0-.75.336-.75.75s.336.75.75.75H6.6v1.016c0 .414.335.75.75.75s.75-.336.75-.75v-1.016h1.098c.414 0 .75-.336.75-.75s-.336-.75-.75-.75z"></path></g></svg>                      
                        </div>
                        <div class="row newTwitBoxBody p-1">
                            <div class="col-1 newTwitBoxUserAvatar">
                                <img src="" alt="">
                            </div>
                            <div class=" col-11 newTwitBoxBody p-3">
                                <form action="">
                                    <div class="mb-3">
                                        <input type="text" name="tweetInput" placeholder='¿Qué está pasando?' class="form-control">
                                    </div>
                                    <div>
                                        <span>Cualquier Persona te puede responder</span>
                                    </div>
                                    <div class="newTwitBoxFooter d-flex justify-content-between">
                                        <div>
                                            <ul class="list-inline">
                                                <li class="list-inline-item"></li>
                                                <li class="list-inline-item"></li>
                                                <li class="list-inline-item"></li>
                                                <li class="list-inline-item"></li>
                                                <li class="list-inline-item"></li>
                                                <li class="list-inline-item"></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <button type="submit" class="btn twitterColor d-inline text-white"><h5>Twittear</h5> </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </section>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>