body {
  background-color: rgba(0, 0, 0, 0.4);
}

input {
  width: 100%;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  font-weight: 700 (bold);
  letter-spacing: 0px;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
}

h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  color: #0f1419;
}

a {
  text-decoration: none;
  color: rgb(29, 155, 240);
}

a:hover {
  text-decoration: underline;
  color: rgb(29, 155, 240);
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  font-weight: 400 (normal);
  color: rgb(15, 20, 25);
  line-height: 20px;
}

.contenedor {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box {
  text-align: left;
  background-color: white;
  border-radius: 16px;
  width: 600px;
}

.cross-button {
  color: black;
  width: 36px;
  height: 36px;
  margin: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.cross-button:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.cross-absolute {
  position: absolute;
  left: 8px;
}

.position-relative {
  position: relative;
}

.form-container {
  height: 525px;
  width: 364px;
  padding: 10px 32px;

  overflow: auto;
}

.form-control:focus {
  color: rgb(29, 155, 240);
  border-color: rgb(29, 155, 240);
  box-shadow: none;
}

.form-floating > label {
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out,
    color 0.1s ease-in-out;
}

.form-floating:focus > label {
  color: rgb(29, 155, 240);
}

.input-month {
  width: 198px;
  margin-right: 12px;
}

.input-day {
  width: 86.5px;
  margin-right: 12px;
}

.input-year {
  width: 108.5px;
}

.button {
  display: block;
  width: 100%;
  border-style: solid;
  border-radius: 25px;
  padding: 2%;
  margin: 0 auto 20px;
  font-weight: 500;
  font-size: 100%;
  background-color: rgb(15, 20, 25);
  border-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: Arial;
  font-weight: 700 (bold);
}

.button:hover {
  background-color: rgb(15, 20, 25, 0.9);
}

.register-button {
  display: block;
  width: 100%;
  border-style: solid;
  border-radius: 25px;
  padding: 2%;
  margin: 0 auto 20px;
  font-weight: bold;
  font-size: 100%;
  background-color: rgb(29, 155, 240, 0.9);
  border-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: Arial;
  font-weight: 700 (bold);
}

.register-button:hover {
  background-color: rgb(29, 155, 240);
}

.button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.buttons {
  border: 1px solid #dadce0;
  border-radius: 5rem;
  color: #3c4043;
  font-family: "Roboto-Regular", arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.218s, border-color 0.218s;
  width: 100%;
}

.google-logo {
  width: 20px;
  margin-right: 8px;
}

.line {
  background-color: #cfd9de;
  height: 1px;
  margin: 0 4px;
  width: 100%;
}

.checkbox {
  height: 20px;
}

.warning {
  color: rgb(83, 100, 113);
}

.ocultar {
  display: none;
}
