*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{height:200vh;}

.newTwitBoxUserAvatar i {
margin-top: 0.5rem;
}

.newTwitBoxFooter img{
width: 30px;
margin: 2px 5px;
}

.navBar{
  height: 100vh;
}
.navBar svg{
  width: 25px;
}

.navBar .accMenuDiv{
  width: 80%;
}

.navBar .accMenuDiv i{
  width: 100%;
}

/* nav svg.logo{
  width: 30px; 
} */

.twitterColor{
  background-color: rgb(29, 155, 240);
}
nav .btn {
  padding: 1rem 5rem;
  border-radius: 30px;
  border: none;
}
nav div {
  padding: 5px;
}
nav a {
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.tendenciasDiv .tendenciasSearch img{
width: 40px;
}

.tendenciasDiv .tendencias span{
font-size: 14px;
color: grey;
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

i.fa-brands.fa-twitter {
  color: white;
  font-size: 30vw;
}

button.btn.btn-light {
  margin-bottom: 10px;
  width: 100%;
}

.btn-block {
  margin-bottom: 10px;
  width: 100%;
  background-color: black;
  color: rgb(29, 155, 240);
}

.boton-celeste {
  background-color: rgb(29, 155, 240);
  border-color: rgb(29, 155, 240);
  color: white;
}

.tweet{
  padding: 15px 0;
}
